.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.crypto-card {
  min-width: 500px;
}
.select-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
@media screen and (max-width: 479px) {
  .crypto-card {
    min-width: 100px;
  }
  .crypto-card h1 {
    font-size: 1.5rem;
  }
  .crypto-card p {
    color: teal;
    font-weight: 700;
  }
}
